<div class="header_parent">
  <div class="header">
    <script type="text/javascript">
      window.onload = function () {
        setTimeout(function () {
          // $('.list__item--burst').toggleClass('hidden')
          $('.control__button--play').click()
        }, 800)
      }
    </script>
		</svg>
			<section class="content">
				<ul class="list">
					<li class="list__item list__item--burst color-12">
						<h3 class="list__text">SPLISH</h3>
						<button class="control__button control__button--play" aria-label="Trigger animation">
							<svg class="control__vector" aria-hidden="true" role="img" viewBox="0 0 24 24">
								<use xlink:href="#icon-play"></use>
							</svg>
						</button>
					</li>
				</ul>
			</section>

      <% if signed_in? %>

        <div class="authed" id="div-item-data" data-user-id="<%= current_user.id %>" >
          Hello, <%= current_user.first_name %><br><br>
          <form class='auth_form' action="<%= session_url %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <button class="sign_out" name="Sign Out">Sign Out</button>
          </form>
        </div>

      <% else %>

        <div class="auth">
          <br>
          <form class='auth_form' action="<%= session_url %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

            <label>E-mail:
            <input type="text" placeholder="E-Mail Address" name="guest[email]" value="">
            </label>

            <label>Password:
            <input id="password" type="password" placeholder="Password" name="guest[password]" value="">
            </label>

            <button name="Sign In">Sign In</button>
          </form>
          <br>
          <section class='sign_in'>
            Don't have an account yet? <a href="/guests/new">Sign Up!</a>
          </section>
        </div>

      <% end %>
  </div>
</div>
