<!DOCTYPE html>
<html>
  <head>
    <title>Splish</title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js"></script>
    <link rel="stylesheet" href="https://material.angularjs.org/latest/angular-material.min.css"/>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMZms2er49ODMvfbXUtO5ADbAY-VYIpiA&libraries=places&callback=initAutocomplete" async defer></script> -->

    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body ng-app="splish" ng-controller="EventController" >
  <div class="menu-wrap">
		<nav class="menu-top">
			<!-- <div class="welcome">/><span>Hello, <%= current_user.first_name %>!</span></div> -->
			<div class="filter-list">
        <md-button ng-show="{{user_id}}" class="md-trigger md-primary md-raised" data-modal="modal-9">Create New Event</md-button><br>
        <md-button ng-show="{{user_id}}" ng-click="filter = 'tbd'" class="md-primary md-raised">See TBD Events</md-button><br>
        <md-button ng-show="{{user_id}}" ng-click="filter = 'upcoming'" class="md-primary md-raised">See Upcoming Events</md-button><br>
        <md-button ng-show="{{user_id}}" ng-click="filter = 'past'" class="md-primary md-raised">See Past Events</md-button><br>
        <md-button ng-show="{{user_id}}" ng-click="filter = 'all'" class=" md-primary md-raised">See All Events</md-button><br>
        <md-button ng-show="{{user_id}}" ng-click="filter = 'created'" class="md-primary md-raised">See Events You Created</md-button><br>
        <md-button ng-show="{{user_id}}" ng-click="filter = 'rsvpd'" class=" md-primary md-raised">See RSVP'd Events</md-button><br>
        <md-button ng-show="{{user_id}}" ng-click="toggleSort(); $event.stopPropagation();" class=" md-primary md-raised">{{sortState}}</md-button>
			</div>
		</nav>
		<button class="close-button" id="close-button"></button>
	</div>
  <button class="menu-button hidden" id="open-button">
  <%= image_tag 'filter-512.png' %></button>
	<div id="pagewrap" class="pagewrap content-wrap">
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMZms2er49ODMvfbXUtO5ADbAY-VYIpiA&libraries=places&callback=initAutocomplete"  defer></script>
    <%= render '/layouts/errors' %>
    <div class="container" id="page-content" class="content">
      <%= yield :header %>
      <%= yield %>
    </div>
    <div id="loader" class="pageload-overlay" data-opening="m -5,-5 0,70 90,0 0,-70 z m 5,35 c 0,0 15,20 40,0 25,-20 40,0 40,0 l 0,0 C 80,30 65,10 40,30 15,50 0,30 0,30 z">
			<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none" >
				<path d="m -5,-5 0,70 90,0 0,-70 z m 5,5 c 0,0 7.9843788,0 40,0 35,0 40,0 40,0 l 0,60 c 0,0 -3.944487,0 -40,0 -30,0 -40,0 -40,0 z"/>
			</svg>
		</div>
  </div>
  </body>
</html>
